/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/

.theme-default #slider {
    margin:0 auto 20px auto;
    width:955px; /* Make sure your images are the same size */
    height:223px; /* Make sure your images are the same size */
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}